*{  font-family: 'Outfit', sans-serif;
list-style: none;
  weight: 900;
}body {
    font-size: 15pt;
    margin: 0;
}.box{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 257px;
  background:#1E0045  ;
  margin: 100px auto;
  height: 257px;
 outline: none;
 border-radius:50px;
 text-overflow: ellipsis;
  
}.name{
  font-weight: 800;
  color: white;
}img{
  border-radius: 100px;
}.main{
  display: non;
}.second{
  display: none;
 
}none button{
  
}.span{
  text-align: left;
  font-size:10px;
  margin-left: 50px
}.arrow{
  color:  #1E0045  ;
  background: white;
  float: right;
  margin-top: 19.5px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border-radius:50px 0 50px 0
}.arrow i{
  transform: rotate(310deg)
}.second .arrow {
   margin: 0;
   margin-top: 12px;
}img{
  margin-top: 15px;
}.button button{
 background: white;
 color: #1E0045;
 border: none;
 font-weight: 600;
 padding:7px;
 width: 80px;
 border-radius: 15px;
 margin-top: 4px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; 
 font-size: 13px
}.h3{
  padding: 0px;
  font-weight: 700;
  font-size: 24px;
  color: white;
padding-top: 10px;
  margin-left: 20px;
}.p{
  padding-top:  10px;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: none;
  color: white;
}a{
  color:white
  
}img{
   background: red
}